*{
    box-sizing: border-box;
}

.menu{
    display: flex;
    background-color: #CD4A5B;
    width: 100%;
    justify-content: flex-end;
}


nav{
    background-color: #CD4A5B;
    
    width:50%;
}

nav>a{
    color: white;
    margin: 3%;
    font-size: 110%;
    text-decoration: none;
    font-family: 'Courgette', cursive;
    
    
}

.iconmenu{
    width: 10%;
    display: none;
}
.iconmenu>i{
    max-width:100%;
    color: white;
    font-size: 350%;

}
.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../img/delivery1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.headtext{
    color:#360A17;
    font-size: 600%;
    margin: 20%;
    font-family: 'Baloo', cursive;
    text-align: center;
}

.service{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    
    
    
    
}

.contenedor{
    display: flex;
    flex-direction: row;
}

.pservice{
    align-items:center;
    width: 100%;
    padding: 20%;
    
    
    
}

.imgService{
    width: 40%;
    align-items: flex-start;
    
    
}

